CompileFlags:
  Add: [
    -std=c99, -Wall, -Wextra, -Wno-macro-redefined, 
    -Wno-incompatible-pointer-types-discards-qualifiers,
    -DBASE_IMPLEMENTATION, -DMATE_IMPLEMENTATION
  ]

CompilationDatabase:
  Path: ./build/compile_commands.json

Diagnostics:
  Suppress:
    - typecheck_sclass_func
    - attribute_cleanup_arg_not_function
    - function_definition_not_allowed
