CompilationDatabase:
  Path: ./build/compile_commands.json

Diagnostics:
  Suppress:
    - typecheck_sclass_func
    - attribute_cleanup_arg_not_function
    - function_definition_not_allowed
